@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet{
    background-color: white!important;
    opacity: .25!important;
    &.swiper-pagination-bullet-active{
        opacity: 100!important;
    }
}